namespace Keys;

public class OpenAI
{
    public static string ModelId { get; } = "";
    public static string ApiKey { get; } = "";
}

public class AzureOpenAI
{
    public static string DeploymentName { get; } = "";
    public static string Endpoint { get; } = "";
    public static string ApiKey { get; } = "";
}

public class AzureAISearch
{
    public static string Endpoint { get; } = "";
    public static string ApiKey { get; } = "";
}

public class SuperHero
{
    public static string ApiKey { get; } = "";
}